.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

@font-face {
  font-family: RobotoNormal;
  src: url("./fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: RobotoBold;
  src: url("./fonts/Roboto-Regular.ttf");
}
* {
  font-family: RobotoNormal;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

